
#home{
    background-color: #f8f8f8;
    padding: 50px 20px;
    text-align: center;
}
:root {
  --main-bg: none;
  --sub-menu-bg:white;
  
#form-section{
background-color: rgb(219, 126, 126);
padding: 30px;
    border-radius: 10px;
    box-shadow: none;
}

#features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    background-color: lightgray;
}

section{
    padding: 20px;
    margin: 30px;

}
#renovation-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: lightgray;
}

#renovation-form input[type="text"],
#renovation-form input[type="email"],
#renovation-form input[type="tel"],
#renovation-form input[type="number"],
#renovation-form select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #413b3b;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar ul li {
    display: inline-block;
  }
  
  .navbar ul li a {
    display: block;
    text-align: flex;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    background-color: lightskyblue;
  }

   
  nav a {
    line-height: 3rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
 

  #top-menu{
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 0;
    margin: 0;
  }

  #top-menu> ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #top-menu> ul > li {
    position: relative;
  }

  #top-menu> a {
    display: block;
    color: white;
    text-align: flex-round;
    padding: 14px 16px;
    text-decoration: none;
  }
  #top-menu> a:hover {
    background-color: #e2cdcd;
    color: black;;
  }
  #sub-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(100, 98, 98, 0.2);
    z-index: 1;
  }
  #sub-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  #sub-menu a:hover {
    background-color: #574388;
  }
  
  .has-submenu:hover #sub-menu {
    display: block;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  .cost-table{
    width:100%;
    border-collapse: collapse;
    margin-bottom: 10px
  }
  .cost-table th{
    padding: 12px;
    text-align: left;
   border-bottom: 1px solid;
  }
  .cost-table th{
    background-color: grey;
    font-weight: bold;
  }
  .cost-table tr:hover {
    background-color: #f5f5f5;
    background-color:rgb(185, 73, 73);
  }
}
.alert {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.alert-success {
  background-color: #d4edda;
  color: #a39194;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-warning {
  background-color: #fff3cd;
  color: #856404;
}